node_modules
.env.local
.DS_Store
local-only/banner-draft.png
local-only/porkbun.com An oddly satisfying experience..pdf
local-only/W3_PSzQsrz31NSnhtbJe6zwO7NOFKu2nXDzrYOVYh3Yh-gzFx-GzxL9WMK4hHPw4i9jHN6t4jWPh4foFArpPuQ==.pdf
.DS_Store
todo.md
